AnteProyecto_Tesis/main.aux
AnteProyecto_Tesis/main.bbl
AnteProyecto_Tesis/main.blg
AnteProyecto_Tesis/main.log
AnteProyecto_Tesis/main.pdf
AnteProyecto_Tesis/texput.log
AnteProyecto_Tesis/main.synctex.gz
Tesis/updthesis.aux
Tesis/updthesis.lof
Tesis/udpthesis.log
Tesis/updthesis.lot
Tesis/updthesis.pdf
Tesis/updthesis.synctext.gz
Tesis/updthesis.toc
Tesis/Formato_tesis/*